@import "../../theme/index.scss";

.search-select {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  @include max-bp($medium) {
    flex-direction: column;
    align-items: center;
  }

  div {
    margin-bottom: .5em;
  }
  
  .MuiOutlinedInput-notchedOutline, 
  .MuiOutlinedInput-notchedOutline:hover 
  .MuiOutlinedInput-notchedOutline {
    border-color: $yellow !important;
  }
  
  .MuiFormLabel-root, 
  .MuiIconButton-sizeMedium .MuiAutocomplete-popupIndicator, 
  .MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium .MuiAutocomplete-popupIndicator, .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    color: $yellow !important;
  }
  
  .MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium svg {
    color: $yellow !important;
  }
}
