@import "../../theme/index.scss";

.search-select {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  @include max-bp($medium) {
    flex-direction: column;
    align-items: center;
  }

  div {
    margin-bottom: .5em;
  }
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline, 
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:hover 
.MuiOutlinedInput-notchedOutline {
  border-color: $yellow !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input, 
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root, 
.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator, 
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: $yellow !important;
}