@import "../../theme/index.scss";

.search-select {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #e8b20e !important;
}

.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
  color: #e8b20e !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #e8b20e !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #e8b20e !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input, .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: #e8b20e !important;
}